body
{
    overflow: hidden;
    background-color: #44B0FF;
}
.rectangle
{
    position: absolute;
    width: 1050px;
    height: 188px;
    left: 435px;
    top: -72px;
    background: #2B8DFF;
}

.cercle
{  
    position: absolute;
    width: 770px;
    height: 770px;
    left: -195px;
    top: -269px;
    border-radius: 50%;
    background: #2B8DFF;
}

.cercle2
{
    position: absolute;
    width: 770px;
    height: 770px;
    left: 575px;
    top: -269px;
    border-radius: 50%;
    background: #2B8DFF;
}

.cercle3
{
    position: absolute;
    width: 770px;
    height: 770px;
    left: 1345px;
    top: -269px;
    border-radius: 50%;
    background: #2B8DFF;
}

.cercle4
{
    position: absolute;
    width: 770px;
    height: 770px;
    left: -195px;
    top: 501px;
    border-radius: 50%;
    background: #2B8DFF;
}

.cercle5
{
    position: absolute;
    width: 770px;
    height: 770px;
    left: 575px;
    top: 501px;
    border-radius: 50%;
    background: #2B8DFF;
}

.cercle6
{
    position: absolute;
    width: 770px;
    height: 770px;
    left: 1345px;
    top: 501px;
    border-radius: 50%;
    background: #2B8DFF;
}

.rectangle2
{
    position: absolute;
    width: 1050px;
    height: 188px;
    left: 435px;
    top: 886px;
    background: #2B8DFF;
}

.rectangle3
{
    position: absolute;
    width: 215px;
    height: 324px;
    left: 0px;
    top: 347px;
    background: #2B8DFF;
}

.rectangle4
{
    position: absolute;
    width: 215px;
    height: 324px;
    left: 1705px;
    top: 347px;
    background: #2B8DFF;
}